html
    head
        title Location Tagger

        script(type='text/javascript', src='/bower_components/angular/angular.min.js')
        script(type='text/javascript', src='//www.parsecdn.com/js/parse-1.6.12.min.js')
        script(type='text/javascript', src='/dist/main.js')

    body(ng-app='LocationTagger')
        h1 Welcome to Location Tagger

        p.
            Angular knows that 1 + 1 = {{ 1 + 1 }}

        form.signup-form(ng-controller='SignUpController')
            .form-group
                input(type='text', name='email', placeholder='email', ng-model='user.email')
            .form-group
                input(type='password', name='password', ng-model='user.password')

            .actions
                .actions__save
                    input(type='submit', ng-click='signUp(user)', value='signUp')
